{% extends "base.html" %}
{% block title %}메모 추가{% endblock %}

{% block head %}
    <style>
        input[type="text"], textarea {
            padding: 12px 20px;
            margin: 8px 0;

            background-color : #d1d1d1; 
        
        }
        
        input {
            padding: 12px 20px;
            margin: 8px 0;
            background-color : #d1d1d1; 

            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
        }


    </style>
{% endblock %}

{% block content %}

    <br>
    <!-- <h1>The textarea form attribute</h1> -->

    <form action="http://127.0.0.1:5001/add" method="post"  enctype=multipart/form-data style="width: 100%;">
        <div>
            제목 : <input type="text" id="title" placeholder="제목" name="title" style="width: 50%; height: 30px; padding: left 10px;">
        </div>

        <!-- 파일 받는 input -->
        <input type="file" id="file" name="file" accept="image/png, image/jpeg" style="padding-left: 0;padding-bottom: 0;padding-top: 0;margin-top: 16px;">
        <p>파일 형식은 image/png, image/jpeg 만 가능합니다.</p>
        <div>
            날짜 : <input type="date"  id="date" placeholder="date" name="date" style="padding-left: 0;padding-bottom: 0;padding-top: 0;">
        </div>
        <br>
        <div>
            <textarea rows="5" cols="200" name="memo_content" id = "memo_content" form="usrform" style="width: 90%;"> 내용을 적어주세요!</textarea>
        </div>
        <input type="submit"  id="addSubmit" placeholder="addSubmit" name="addSubmit" value="저장" >
    </form>

    
    <!-- error 출력... -->
    <p style="color : red">{{  result  }}</p>


{% endblock %}


<!-- 
          <form action="http://127.0.0.1:5001/add" method="get" style="width: 100%;">
        <button id="myButton"  class="login100-form-btn"  style= "font-size: 1.5em;">
          + 메모 
        </button>
      </form>
 -->