<!DOCTYPE html>
<html  lang="ko" >
<head>
<title>PHOTO MEMO</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/util.css')}}>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/main.css')}}>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/memo-list.css')}}>
<!--===============================================================================================-->
<!-- <script src="{{url_for('static', filename='js/main_modal.js')}}"></script> -->
<!--===============================================================================================-->

{% block head %}{% endblock %}




</head>
<body>


<header>

  <h2>My photo memo</h2>

</header>



<section>
  <nav>
    
    <div class="container-login100-form-btn m-t-17">
      <!-- TODO 로컬호스트 주소 바꾸기 -->
      <!-- <button onclick="location.href = 'http://127.0.0.1:5001/';" id="myButton"  class="login100-form-btn" style= "font-size: 1.5em;">
        + 메모
      </button> -->
      <form action="http://127.0.0.1:5001/add" method="get" style="width: 100%;">
        <button id="myButton"  class="login100-form-btn"  style= "font-size: 1.5em;">
          + 메모 
        </button>
      </form>

     
    </div>

    <!-- <ul>
      <li><a href="#">폴더 목록 나중에 추가하기</a></li>
    </ul> -->
  
  </nav>
  
  <article>

    <h1 style="margin-left: 8px;margin-top: 10px;margin-bottom: 10px;font-size: 1.5em;">{% block title %}{% endblock %}</h1>
    
    <div id="content">{% block content %}{% endblock %}</div>

  </article>
</section>




</body>
</html>

