<!DOCTYPE html>
<html  lang="ko" >
<head>
<title>PHOTO MEMO</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/util.css')}}>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/main.css')}}>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/memo-list.css')}}>
<!--===============================================================================================-->
<!-- <script src="{{url_for('static', filename='js/main_modal.js')}}"></script> -->
<!--===============================================================================================-->






</head>
<body>


<header>

  <h2>My photo memo</h2>

</header>



<section>
  <nav>
    <div class="limiter"></div>
      <form action="http://127.0.0.1:5001/memo" method="post">
        <div class="container-memo-add" >
          <div class="p-t-50 p-b-90" style="position: relative;">
            <span class="login100-form-title p-b-25" >
              <img style="width:100%;" src= "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbzViRe%2FbtrL1AaMkQA%2F9MRfkk23R1nKH49slyP53K%2Fimg.png" >

            </span>

            <form class="login100-form validate-form flex-sb flex-w">
              
              <span class="login100-form-title p-b-25" style="font-family: 'Jua', sans-serif;color: #303336;font-size:  1.17em;">
                메모 추가
              </span>

              
              <div class="wrap-input100 validate-input m-b-16" data-validate = "Title is required">
                <input type="text" class="form-control input100" id="title" placeholder="제목" name="title" value="제목">
                <span class="focus-input100"></span>
              </div>
              
              
              <div class="wrap-input100 validate-input m-b-16" data-validate = "Content is your choice">
                <input type="text" class="form-control input100" id="content" placeholder="내용" name="content" value="내용">
                <span class="focus-input100"></span>
              </div>



              <div class="container-login100-form-btn m-t-17">
                <button id="addMemoBtn" class="login100-form-btn" type="submit", style="font-size: 24px;">
                  메모 추가하기
                </button>
              </div>

              <div class="flex-sb-m w-full p-t-3 p-b-24">
                
              </div>
            

            </form>
          </div>   
        </div>   
      </form>
		</div>



    <!-- <div class="container-login100-form-btn m-t-17">
      <button id="updateDetails" class="login100-form-btn" style= "font-size: 24px;">
        메모 추가하기
      </button>
    </div> -->

    <!-- <ul>
      <li><a href="#">폴더 목록 나중에 추가하기</a></li>
    </ul> -->
  
  </nav>
  
  <article>
    <h1 style="margin-left: 8px;margin-top: 10px;margin-bottom: 10px;">메모 리스트</h1>
    <div class="container_body"> 
     

      <!-- api 에서 불러온 내용 여기 적기 -->
      {% for item in memo_list %}
        <div class="card">
          <img src="{{ item.photo_url }}"  style="width: 300px; height: 300px;">
          <div class="container">
            <div class="card_title">{{ item.title }}</div> 
            <div class="card_content">{{ item.content }}</div> 
          </div>
        </div>
      {% endfor %}

     
    </div>


    <div class="container_page">

      {% for count in page_list %}
        <div class="page_button">
          <p style="line-height: 40px;margin: 0;">{{  count  }}</p>
        </div>  
      {% endfor %}

    </div>




    
  </article>
</section>




</body>
</html>

