<!DOCTYPE html>
<html  lang="ko" >
<head>
<title>PHOTO MEMO</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/util.css')}}>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/main.css')}}>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/memo-list.css')}}>
<!--===============================================================================================-->
<!-- <script src="{{url_for('static', filename='js/main_modal.js')}}"></script> -->
<!--===============================================================================================-->






</head>
<body>


<header>

  <h2>My photo memo</h2>

</header>



<section>
  <nav>

    <div class="container-login100-form-btn m-t-17">
      <button id="updateDetails" class="login100-form-btn" style= "font-size: 24px;">
        메모 추가하기
      </button>
    </div>

    <!-- <ul>
      <li><a href="#">폴더 목록 나중에 추가하기</a></li>
    </ul> -->
  
  </nav>
  
  <article>
    <h1 style="margin-left: 8px;margin-top: 10px;margin-bottom: 10px;">메모 리스트</h1>
    <div class="container_body"> 
     

      <!-- api 에서 불러온 내용 여기 적기 -->
      {% for item in memo_list %}
        <div class="card">
          <img src="{{ item.photo_url }}"  style="width: 300px; height: 300px;">
          <div class="container">
            <div class="card_title">{{ item.title }}</div> 
            <div class="card_content">{{ item.content }}</div> 
          </div>
        </div>
      {% endfor %}

     
    </div>


    <div class="container_page">

      {% for count in page_list %}
        <div class="page_button">
          <p style="line-height: 40px;margin: 0;">{{  count  }}</p>
        </div>  
      {% endfor %}

    </div>




    
  </article>
</section>




</body>
</html>

